{
  "$schema": "https://opencode.ai/config.json",
  "default_agent": "plan",
  "mcp": {
    "notion": {
      "type": "remote",
      "url": "https://mcp.notion.com/mcp",
      "oauth": {}
    },
    "figma": {
      "type": "remote",
      "enabled": true,
      "url": "http://127.0.0.1:3845/mcp",
      "oauth": {}
    }
  },
  "plugin": ["@rolled-potatoes/opencode-mermaid"],
  "provider": {},
  "agent": {
    "plan": {
      "model": "provider/model"
    },
    "title": {
      "model": "provider/model"
    },
    "build": {
      "model": "provider/model"
    },
    "explore": {
      "model": "provider/model"
    }
  }
}
